.film-card {
  // .film-card_1
  &_1 {

  }

  // .film-card_btn
  &_1 &__btn {
  }

  // .film-card__body
  &_1 &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: adaptive-value(18px, 35px, $xxs, $template-size);
    min-height: adaptive-value(325px, 655px, $xxs, $template-size);
    max-width: adaptive-value(210px, 420px, $xxs, $template-size);
    box-shadow: 0 0 30px cl(color-gray, 0.2);
    background: cl(color-biscay);
    gap: adaptive-value(15px, 30px, $xxs, $template-size);
  }

  // .film-card__image
  &_1 &__image {
    width: adaptive-value(170px, 350px, $xxs, $template-size);
    height: adaptive-value(255px, 495px, $xxs, $template-size);
    img {
      border-radius: 30px;
    }
  }
}
