.form {
  // .form__sending
  position: relative;
  &__sending {
    position: absolute;
    background: cl(color-black, 0.25);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .loading {
      @include loading();
    }
  }

  // .form__body
  &__body {

  }
}