.nav {
  // .nav__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px adaptive-value(25px, 118px, $xxs, $template-size);
  }

  // .nav__item
  &__item {
    position: relative;
    font: cl(font-medium);
    color: cl(color-white);
  }

  // .nav__link
  &__link {
  }
}